*.class

.mtj.tmp/

!.mvn/wrapper/maven-wrapper.jar

.env

# Package Files #
*.jar
*.war
*.ear

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.metadata
target/
Servers
logs
generated
MANIFEST.MF
test-output/

### Intelij ###
out/
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store

.classpath
/bin/
